/* Site defaults */

body { font-family: Verdana, Arial, Helv, Helvetica, sans-serif; font-style: normal; color: #000000; margin: 9px; font-size: small; }
/* This is here because Netscape has trouble remembering */
p, td { font-family: Verdana, Arial, Helv, Helvetica, sans-serif; font-style: normal; color: #000000; font-size: small; }
th { font-family: Verdana, Arial, Helv, Helvetica, sans-serif; font-style: normal; font-weight: bold; color: #000000; font-size: small; }
h1 { font-size: 24px; font-weight: bold; }
h2 { font-size: 18px; font-weight: bold; }
h3 { font-size: 14px; font-weight: bold; }
h4 { font-size: 12px; font-weight: bold; }
select { margin: 0px; }
select.home { margin: 0 0 3px 0; }
select.ssec { margin: 0 0 3px 0; font-size: x-small; }
input { margin: 0px; }
strong { font-weight: bold; }
em { font-style: italic; }
form { margin: 0px; }
.revhead { color: #FFFFFF; }

td.homeLogo
{
	background-color: #000;
	padding: 0px;
}
td.homeTopNav
{
	background-color: #000;
	font-size: 11px;
	font-weight: bold;
	vertical-align: bottom;
	padding: 0px 9px 6px 0px;
	color: #FFF;
	white-space: nowrap;
}
td.innerTopNav
{
	background-color: #000;
	font-size: 11px;
	font-weight: bold;
	vertical-align: bottom;
	padding: 0px 6px 4px 0px;
	color: #FFF;
	white-space: nowrap;
}

.topSearch { font-size: 9px; }

img { padding: 0px; border-width: 0px; margin: 0px; }
img.promoTile { padding: 0px; border-width: 0px; margin: 0px 0px 0px 12px; }

a { color: #003399; text-decoration: none;  }
a:link { color: #003399; text-decoration: none;  }
a:visited { color: #660066; text-decoration: none;  }
a:active { color: #CC3300; text-decoration: underline;  }
a:hover { color: #CC3300; text-decoration: underline;  }

a.topNav { color: #FFFFFF; text-decoration: none;  }
a:link.topNav { color: #FFFFFF; text-decoration: none;  }
a:visited.topNav { color: #FFFFFF; text-decoration: none;  }
a:active.topNav { color: #FFCC33; text-decoration: underline;  }
a:hover.topNav { color: #FFCC33; text-decoration: underline;  }

h3.leftPub { font-size: 11px; margin: 0px; font-weight: bold; border-color: #999999 #FFFFFF #FFFFFF #FFFFFF; border-width: 1px; border-style: solid none solid none; width: 150px; }
span.sponsored { font-size: 10px; font-weight: normal; }
a.leftPub,a:link.leftPub { padding: 2px 8px 2px 8px; display: block; width: 134px; }
a:visited.leftPub { color: #003399; }
a:hover.leftPub,a:active.leftPub { background-color: #CCCCCC; text-decoration: none; color: #990000; }

/*
a.leftPub_wsj,a:link.leftPub_wsj { padding: 2px 8px 2px 8px; display: block; width: 150px; color: #000066; }
a:visited.leftPub_wsj { color: #000066; }
a:hover.leftPub_wsj,a:active.leftPub_wsj { background-color: #CCCCCC; text-decoration: none; color: #990000; }

a.leftPub_tct,a:link.leftPub_tct { padding: 2px 8px 2px 8px; display: block; width: 150px; color: #004D00; }
a:visited.leftPub_tct { color: #004D00; }
a:hover.leftPub_tct,a:active.leftPub_tct { background-color: #CCCCCC; text-decoration: none; color: #990000; }
*/

a.leftPub_wsj,a:link.leftPub_wsj { padding: 3px 8px 3px 8px; display: block; width: 134px; background-color: #003366; color: #FFFFFF; }
a:visited.leftPub_wsj { color: #FFFFFF; }
a:hover.leftPub_wsj,a:active.leftPub_wsj { background-color: #003366; text-decoration: none; color: #FFFFFF; }

a.leftPub_tct,a:link.leftPub_tct { padding: 3px 8px 1px 8px; display: block; width: 134px; background-color: #008100; color: #FFFFFF; }
a:visited.leftPub_tct { color: #FFFFFF; }
a:hover.leftPub_tct,a:active.leftPub_tct { background-color: #008100; text-decoration: none; color: #FFFFFF; }

a.leftPub_15,a:link.leftPub_15 { padding: 2px 8px 1px 8px; display: block; width: 134px; background-color: #660000; color: #FFFFFF; }
a:visited.leftPub_15 { color: #FFFFFF; }
a:hover.leftPub_15,a:active.leftPub_15 { background-color: #660000; text-decoration: none; color: #FFFFFF; }

a.leftPub_post,a:link.leftPub_post { padding: 0px; display: block; width: 150px; background-color: #000000; color: #FFFFFF; }
a:visited.leftPub_post { color: #FFFFFF; }
a:hover.leftPub_post,a:active.leftPub_post { background-color: #000000; text-decoration: none; color: #FFFFFF; }

table#homeMain { width: 750px; }

table.strongPresence { margin: 0px 0px 0px 12px; }
table.stockTable { margin: 4px 0px 4px 12px; }

h1.sectionHead { margin: 3px 0px 3px 0px; }
h4.paperLong { margin: 6px 0px 0px 0px; }
h2.localLead { font-size: 16px; margin: 2px 0px 4px 0px; }

td.moreHedsLeft { padding: 6px 6px 12px 0px; }
td.moreHedsRight { padding: 6px 0px 12px 6px; }

p.paperStory
{
	font-size: 11px;
	margin: 0px 0px 4px 0px;
	border-color: #B2B2B2;
	border-width: 0px 0px 1px 0px;
	border-style: none;
}

map { padding: 0px; margin: 0px; }

img.newsPhoto { margin: 0px 9px 3px 0px; }

td#mainContent
{
	padding: 0px 9px 9px 9px;
	width: 453px;
}

td#vertContent
{
	padding: 0px 12px 12px 12px;
	width: 600px;
}

div#homeLeft
{
	width: 160px;
	display: block;
	background-color: #E5E5E5;
	background-repeat: repeat;
}

td#homeLeft
{
	width: 160px;
	background-color: #E5E5E5;
	background-repeat: repeat;
}

td#innerLeft
{
	width: 150px;
	background-color: #E5E5E5;
	background-repeat: repeat;
}

td#topNav
{
	background-color: #E5E5E5;
	color: #039;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 9px 3px 9px;
	white-space: nowrap;
}

td#rightRail
{
	background-color: #E5E5E5;
	padding: 6px;
	width: 137px;
}


/* New left nav */

h3.left1
{
	font-size: 12px;
	margin: 5px 6px 1px 14px;
	font-weight: bold;
}

p.left2
{
	font-size: 11px;
	margin: 0px 6px 3px 24px;
}

p.left3
{
	font-size: 11px;
	margin: 0px 6px 3px 34px;
}

h4.serviceHead
{
	font-size: 11px;
	margin: 6px 6px 3px 14px;
	font-weight: bold;
}
p.serviceLink { font-size: 11px; margin: 0px 6px 1px 14px; padding: 0px 0px 2px 0px; border-color: #B2B2B2; border-width: 0px 0px 1px 0px; border-style: none none solid none; }

span.sponsored
{
	font-size: 10px;
	font-weight: normal;
}

table#stkQuotes
{
	margin: 5px 6px 1px 14px;
}

p#copyright { font-size: 9px; margin: 5px 6px 1px 14px; }

td.sponsorLogo
{
	background-image: url(/img_x/home/section/sponsorrule.gif);
	background-repeat: repeat-x;
}

td.breakingLogo
{
	background-image: url(/img_x/home/section/breakingrule.gif);
	background-repeat: repeat-x;
}

div.googleBox { margin: 12px 0px 12px 0px; }


/* Page head and navigation */

td.topLogo { background-color: #000000; text-align: center; vertical-align: middle; }
td.topPromo { background-color: #FFCC00; text-align: left; vertical-align: bottom; background-image: url(/img/home/topyellow.gif); background-repeat: repeat-x; background-attachment: scroll; padding: 0px; }
td.subPromo { background-color: #FFFFFF; text-align: left; vertical-align: top; padding: 0px; }
td.topNavRt { background-color: #666699; background-image: url(/img/home/skybottom.gif); background-repeat: no-repeat; background-attachment: scroll; text-align: left; vertical-align: middle; white-space: nowrap; color: #FFFFFF; font-weight: bold; font-size: x-small; padding: 0px; }

/* Side promo and navigation */

img.leftPromo { margin: 0px 0px 4px 0px; }
p.promoSsec { font-size: 11px; margin: 0px 0px 2px 0px; padding: 0px 0px 3px 0px; border-color: #B2B2B2; border-width: 0px 0px 1px 0px; border-style: none none solid none; }
h2.sideSection { font-size: small; margin: 2px 0px 3px 0px; font-weight: bold; color: #333333; }
p.wxImage { margin: 0px; font-size: small; background-color: #FFFFFF; padding: 6px 0px 4px 0px; }
p.wxText { margin: 0px 0px 9px 0px; font-size: small; background-color: #FFFFFF; padding: 0px 6px 6px 6px; }
.fxText { font-size: 10px; }
.fxDiscl { font-size: 9px; }
p.moneyWire { margin: 6px 0px 4px 0px; font-size: xx-small; }
h3.recordHead { font-size: small; margin: 5px 0px 3px 0px; }
p.recordLink { font-size: x-small; margin: 0px 0px 2px 0px; }
.fineprint { font-size: xx-small; }

/* Advertising */

p.leftTile { margin: 0px; }
p.OASad { padding: 0px; border-width: 0px; margin: 0px 0px 5px 0px; }

/* Home page story content */

td.homeContent { background-color: #FFFFFF; text-align: left; vertical-align: top; padding: 0px; }
td.APphoto { background-color: #FFFFFF; text-align: right; vertical-align: middle; padding: 0px; }
img.localPhoto { margin: 0px 4px 2px 0px; }
h1.storySection { font-size: small; margin: 0px; font-weight: normal; font-style: italic; color: #333333; }
h1.paperHead { font-size: small; margin: 3px 0px 3px 0px; font-weight: normal; font-style: italic; color: #333333; }
h1.paperHead2 { font-size: small; margin: 9px 0px 6px 0px; }
h1.recordHead { font-size: small; margin: 12px 0px 6px 0px; }
h2.paperSection { font-size: x-small; margin: 3px 0px 3px 0px; font-weight: bold; }
p.opineHead { font-size: x-small; margin: 0px 0px 5px 0px; }
p.ofRecord { font-size: x-small; margin: 0px 0px 3px 0px; }
h2.APhead { font-size: large; margin: 2px 0px 0px 0px; font-weight: bold; }
p.dateStamp { margin: 0px 0px 4px 0px; font-size: xx-small; }
p.abstract { margin: 0px 0px 6px 0px; font-size: x-small; }
p.moreNews { margin: 0px 0px 8px 0px; font-size: xx-small; }
td.localStories { background-color: #E5E5E5; text-align: left; vertical-align: top; padding: 0px 6px 6px 6px; }
h2.recordSection { font-size: x-small; margin: 0px 0px 2px 0px; font-weight: bold; }
p.recordDescr { font-size: x-small; margin: 0px 0px 8px 0px; }

/* Matters of Record */


/* Top navigation bar for other site pages */

td.barDecor { background-color: #FFFFFF; background-image: url(/img/topbar/orange_str.gif); background-repeat: repeat; background-attachment: scroll; color: #FFFFFF; font-weight: bold; font-size: 1px; padding: 0px; }
td.barNav { background-color: #666699; text-align: left; vertical-align: middle; white-space: nowrap; color: #FFFFFF; font-weight: bold; font-size: 11px; padding: 3px 12px 3px 9px; }

/* Page content for other site pages */

h1.sectionName { font-size: x-large; color: #990000; margin: 6px 0px 3px 0px; }
p.leftBar { font-size: small; margin: 0px 0px 3px 6px; }
h2.leftHead { color: #990000; margin: 9px 0px 3px 0px; }
h3.leftHead { color: #990000; margin: 9px 0px 3px 0px; }
p.menuItem { margin: 0px 0px 9px 0px; }

/* TopSpots insert on home page */
p.topJobs { font-size: 10px; margin: 4px 0px 0px 0px; padding: 3px 0px 0px 0px; border-color: #B2B2B2; border-width: 1px 0px 0px 0px; border-style: solid none none none; }
p.tSpotsTitle { font-size: 12px; margin: 0px 0px 3px 0px; font-weight: bold; }
a.tJobsHead { text-decoration: none; font-weight: bold;  }
a:link.tJobsHead { text-decoration: none; font-weight: bold;  }
a:visited.tJobsHead { text-decoration: none; font-weight: bold;  }
a:active.tJobsHead { text-decoration: underline; font-weight: bold;  }
a:hover.tJobsHead { text-decoration: underline; font-weight: bold;  }
td.topSpots { padding: 6px; border-color: #666666; border-width: 1px; border-style: solid; margin: 0px; background-color: white; }

p.wsjPoll { margin: 3px 0px 6px 0px; color: #000000; font-size: 11px; }
span.pollSmall { font-size: 11px; }

/* madison.com coupons */
td.cpnBrand { padding: 0px; border-width: 0px; border-style: none; background-color: #000000; text-align: center; vertical-align: top; width: 25px; height: 200px; }
td.cpnHead { border-color: #000000; border-width: 4px 0px 0px 0px; border-style: dashed none none none; background-color: #FFFFFF; padding: 9px 0px 3px 10px; width: 291px; height: 118px; text-align: left; vertical-align: top; }
td.cpnLogo { border-color: #000000; border-width: 4px 4px 0px 0px; border-style: dashed dashed none none; background-color: #FFFFFF; padding: 12px 0px 0px 12px; width: 184px; height: 118px; text-align: center; vertical-align: top; }
td.cpnContact { border-color: #000000; border-width: 0px 4px 0px 0px; border-style: none dashed none none; background-color: #FFFFFF; padding: 0px 12px 0px 10px; height: 63px; text-align: left; vertical-align: top; }
td.cpnFinePrint { border-color: #000000; border-width: 0px 0px 4px 0px; border-style: none none dashed none; background-color: #FFFFFF; padding: 0px 9px 4px 10px; height: 18px; text-align: left; vertical-align: bottom; }
td.cpnPrintable { border-color: #000000; border-width: 0px 4px 4px 0px; border-style: none dashed dashed none; background-color: #FFFFFF; padding: 0px 12px 3px 0px; height: 18px; text-align: right; vertical-align: bottom; }
h1.cpnHead { color: #666699; font-size: 18px; font-family: Verdana, Arial, Helvetica; font-style: normal; font-weight: bold; margin: 0px 0px 3px 0px; }
h2.cpnBusName { color: #000000; font-family: Verdana, Arial, Helvetica; font-size: 12px; margin: 0px 0px 2px 0px; }
p.cpnText { color: #000000; font-family: Verdana, Arial, Helvetica; font-size: 10px; margin: 0px 0px 3px 0px; }
p.cpnFinePrint { color: #000000; font-family: Verdana, Arial, Helvetica; font-size: 9px; margin: 0px 0px 0px 0px; }
p.cpnPrintable { color: #000000; font-family: Verdana, Arial, Helvetica; font-size: 10px; margin: 0px 0px 0px 0px; text-align: right; }

p.homeTextAd
{
	padding: 3px 9px 3px 9px;
	margin: -6px -9px 6px -9px;
	background-color: #CCCCCC;
	color: #000000;
	font-size: 11px;
}
