/*-- mod : profile cp --*/

/* General page style. The scroll bar colours only visible in IE5.5+ */

body { 
	background-color: white;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}

/* General font families for common tags */
font,th,td,p { font-family: arial,Verdana, Arial, Helvetica, sans-serif; }
a:link,a:active,a:visited { color : #005280; } 
a:hover		{ text-decoration: underline; color : #005280; }
hr	{ height: 0px; border: solid white 1px; border-top-width: 1px;}
p, td		{ font-size : 12px; color : black; }
h1,h2		{ font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-size : 22px; font-weight : bold; text-decoration : none; line-height : 
120%; color : #000000;}


/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: white; border: 0px red solid; }

/* This is the outline round the main forum tables */
.forumline	{ background-color: #cccccc; border: none }
/* .forumline      { background-color: #999999; border: 0px black solid; } */

/* Main table cell colours and backgrounds */

td.row1	{ background-color: #EFEFEF; }
td.row2	{ background-color: #DEE3E7; }
td.row3	{ background-color: #D1D7DC; }

/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/

td.rowpic {
		background-color: #FFFFFF;
		background-image: url(images/cellpic2.jpg);
		background-repeat: repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */

th	{
	color: #111111; font-size: 11px; font-weight : bold;
	background-color: white; height: 25px;
	background-image: url(images/cellpic3.gif);
}


td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-image: url(images/cellpic1.gif);
			background-color:white; border: black; border-style: solid; height: 28px;
}

/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/

td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 1px 1px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: black; border-style: solid; height: 28px;
}
td.row3Right,td.spaceRow {
	background-color: white; border: black; border-style: solid;
}

th.thHead,td.catHead { font-size: 11px; border-width: 0px 0px 0px 0px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 0px 0px 0px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 0px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 0px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 1px 0px; }
th.thCornerL { border-width: 1px 0px 1px 0px; }
th.thCornerR { border-width: 1px 0px 1px 0px; }
th.thOnlyTop { border-width: 1px 0px 0px 0px; }

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-image: url(images/cellpic1.gif);
}




/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #111111; }
a.gen,a.genmed,a.gensmall { color: #111111; text-decoration: none; }
a.gen:visited,a.genmed:visited,a.gensmall:visited	{ color: #111111; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #111111; text-decoration: underline; }

/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #005280; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #cc0000; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #111111 }
a.mainmenu		{ text-decoration: none; color : #111111; font-size : 11px;}
a.mainmenu:hover{ text-decoration: underline; color : #111111; font-size : 11px;}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size:  18px; color: #C25725; font-family: Times, Arial, Verdana, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #C25725;
}

.maintitle1        {
                        font-weight: bold; font-size:  22px; color: #005280; font-family: Times,Arial,Verdana, Arial, Helvetica, sans-serif;
                        text-decoration: none; line-height : 120%; color : #005280;
}

/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 0px; color : #005280}
a.cattitle		{ text-decoration: none; color : #005280; font-size : 12px; }
a.cattitle:hover	{ text-decoration: underline; font-size : 12px; }

/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #005280; }
a.forumlink 	{ text-decoration: none; color : #005280; font-size : 12px;}
a.forumlink:hover{ text-decoration: underline; color : #005280; font-size : 12px; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlinknb              { font-weight: none; font-size: 12px; color : #005280; }
a.forumlinknb     { text-decoration: none; color : #005280; font-size : 12px;}
a.forumlinknb:hover{ text-decoration: underline; color : #005280; font-size : 12px; }

/* Forum title: Text and link to the forums used in: index.php */
.forumlinkmednb              { font-weight: none; font-size: 11px; color : #005280; }
a.forumlinkmednb     { text-decoration: none; color : #005280; font-size : 11px;}
a.forumlinkmednb:hover{ text-decoration: underline; color : #005280; font-size : 11px; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #005280;}
a.nav			{ text-decoration: none; color : #005280; font-size : 11px; }
a.nav:visited	{ text-decoration: none; color : #005280; font-size : 11px; }
a.nav:hover		{ text-decoration: underline; color : #005280; font-size : 11px; }

/* titles for the topics: could specify viewed link colour too */
.topictitle,h1,h2	{ font-weight: bold; font-size: 11px; color : #005280; }
a.topictitle:link   { text-decoration: none; color : #005280; font-size : 11px; }
a.topictitle:visited { text-decoration: none; color : #005280; font-size : 11px; }
/*a.topictitle:visited { text-decoration: none; color : #666666; font-size : 11px; }*/
a.topictitle:hover	{ text-decoration: underline; color : #005280; font-size : 11px; }

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #111111;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 11px; color : #111111; }

/* The content of the posts (body of text) */
.postbody { font-size : 12px; line-height: 17px; color : #000000;}
a.postlink:link	{ text-decoration: none; color : #005280; font-size : 12px; }
a.postlink:visited { text-decoration: none; color : #005280; font-size : 12px; }
a.postlink:hover { text-decoration: underline; color : #005280; font-size : 12px; }

/* Quote & Code blocks */
.code { 
	font-family: arial,Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #111111; letter-spacing: 0px; line-height: 16px;
	background-color: #fbfbfb; border: #dbdbdb; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: arial,Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #111111; line-height: 16px;
	background-color: #efefef; border: #dbdbdb; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: arial,Verdana, Arial, Helvetica, sans-serif; color: #111111; letter-spacing: -1px;}
a.copyright		{ color: #005280 ; text-decoration: none; font-size : 10px; }
a.copyright:visited		{ color: #005280; text-decoration: none; font-size : 10px; }
a.copyright:hover { color: #005280; text-decoration: underline; font-size : 10px; }

/* Form elements */
input,textarea, select {
	color : #111111;
	font: normal 12px arial,Verdana, Arial, Helvetica, sans-serif;
	border-color : ;
	letter-spacing: 0px;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : white;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #D4D0C8;
	color : #black;
	font-size: 10px; font-family: arial,Verdana, Arial, Helvetica, sans-serif;;
}

/* The main submit button option */
input.mainoption {
	background-color : #D4D0C8;
	font-weight : bold;
	font: normal 11px arial,Verdana, Arial, Helvetica, sans-serif;
}

/* None-bold submit button */
input.liteoption {
	background-color : #D4D0C8;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #E3E3E3; border-style: none; }

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("templates/subSilver/formIE.css"); 


/*-- mod : profile cp --*/

.foundercolor, a.foundercolor, a.foundercolor:link, a.foundercolor:active, a.foundercolor:visited {

	color: #FE00FE;

	font-weight: bold;

}

a.foundercolor:hover {

	color:	#FF0000;

	text-decoration: underline;

}



.admincolor, a.admincolor, a.admincolor:link, a.admincolor:active, a.admincolor:visited {

	color: {T_FONTCOLOR3};

	font-weight: bold;

}

a.admincolor:hover {

	color:	{T_BODY_HLINK};

	text-decoration: underline;

}



.modcolor, a.modcolor, a.modcolor:link, a.modcolor:active, a.modcolor:visited {

	color: {T_FONTCOLOR2};

	font-weight: bold;

}

a.modcolor:hover {

	color:	{T_BODY_HLINK};

	text-decoration: underline;

}



.usercolor, a.usercolor, a.usercolor:link, a.usercolor:active, a.usercolor:visited {

	color : {T_BODY_LINK};

	font-weight: bold;

}

a.usercolor:hover {

	color: {T_BODY_HLINK};

	text-decoration: underline;

}

/*-- fin mod : profile cp --*/


