html
{
	background-color: #020B14;
	background-image: url(/assets/images/bkgBlue.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0px;
	margin: 0px;
}

body
{
	padding: 0px;
	margin: 0px;
}

