html
{
	background-color: #010E31;
	padding: 0px;
	margin: 0px;
/*
	background-image: url(/assets/images/bkgBlue.jpg);
	background-repeat: no-repeat;
	background-image: url(/assets/images/Stripes.gif);
	background-position: center top;
	background-repeat: repeat;
	background-position: center bottom;
*/
}

