html
{
	background-color: #fff;
	
/*
	background-image: url(/assets/images/bkgBlue.jpg);
	background-repeat: no-repeat;
	background-image: url(/assets/images/Stripes.gif);
	background-position: center top;
	background-repeat: repeat;
	background-position: center bottom;
*/
}

body
{
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

img a {
	border: 0;
}

li
 {
 	margin-left: .125em;
 	margin-bottom: 5px;
 	margin-right: 2.5em;
 	font-size: 9.5pt;
 	color: #FFF;
 	line-height: 115%;
 	text-align: left;
 	font-weight: 400;
 }

body.home
{
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-size: 11px;
	line-height: 15px;
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-image: url(/assets/images/GreenBack.jpg);
	background-repeat: repeat-y;
	background-position: center top;
}


body.who
{
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-size: 11px;
	line-height: 15px;
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-image: url(/assets/images/BluBack.jpg);
	background-repeat: repeat-y;
	background-position: center top;
}

body.what
{
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-size: 11px;
	line-height: 15px;
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-image: url(/assets/images/RedBack.jpg);
	background-repeat: repeat-y;
	background-position: center top;
}

body.why
{
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-size: 11px;
	line-height: 15px;
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-image: url(/assets/images/OrangeBack.jpg);
	background-repeat: repeat-y;
	background-position: center top;
}


h1
{
	margin: 0px;
	padding: 10px 2em 0px 6px;
	color: #FFF;
	font-weight: 100;
}

h2
{
	margin: 0px;
	padding: 10px 6px 0px 6px;
	color: #ffffff;
	font-size: 14pt;
	font-weight: 100;
}

h3
{
	margin: 0px;
	padding: 10px 6px 0px 6px;
	color: #ffffff;
	font-size: 12pt;
}

h4
{
	margin: 0px;
	padding: 10px 6px 0px 6px;
	color: #ffffff;
	font-size: 11pt;
}

p
{
	margin: 0px;
	padding: 10px 2em 0px 6px;
	border: 0px;
	color: #E9E6D4;
	font-size: 9pt;
	line-height: 151%;
	font-family: arial;
	font-weight: 100;
}

A:link, A:visited

{ 
	text-decoration: none;
    text-align: left;
	color:#B96A24;
}

A:hover

{ 
	text-decoration: underline;
    text-align: left;
	color:#BD712E;
}

#globalNav
{
	height: 47px;
	width: 760px;
	color: #AAA965;
	margin:0px 0px 0px 0px;
	font-family: GillSans, "Gill Sans", Arial, Verdana, Helvetica, Sans-Serif;
	font-weight: bold;
	letter-spacing: 0px;
	line-height: 23px;
	font-size: 13px;
	padding: 0px 0px 0px 0px;
	background-image: url(/assets/images/NavBack.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}

A:link.globalNav {
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-weight:bold;
	text-decoration:none;
	color:#AAA965;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	letter-spacing:0px;
	line-height:23px;	
	font-size:13px;
	margin:0px;
}

A:visited.globalNav {
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-weight:bold;
	text-decoration:none;
	color:#AAA965;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	letter-spacing:0px;
	line-height:23px;	
	font-size:13px;
	margin:0px;
}

A:hover.globalNav {
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-weight:bold;
	text-decoration:none;
	color:#BF8F66;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	letter-spacing:0px;
	line-height:23px;	
	font-size:13px;
	margin:0px;
}

A:link.globalNavActive {
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-weight:bold;
	text-decoration:none;
	color:#C87934;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	letter-spacing:0px;
	line-height:23px;
	font-size:13px;
	margin:0px;
}

A:visited.globalNavActive {
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-weight:bold;
	text-decoration:none;
	color:#C87934;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	letter-spacing:0px;
	line-height:23px;	
	font-size:13px;
	margin:0px;
}

A:hover.globalNavActive {
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-weight:bold;
	text-decoration:none;
	color:#C87934;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	letter-spacing:0px;
	line-height:23px;
	font-size:13px;
	margin:0px;
}

p.serif {
	font-family:Times, "Times New Roman", serif;
	font-weight:bold;
	font-size:18px;
	font-style:italic;
	line-height:23px;
	color:#282828;
  	text-align:left;	
}

p.serif:first-line {
	font-family:Times, "Times New Roman", serif;
	font-weight:bold;
	font-size:22px;
	font-style:italic;
	line-height:23px;
	color:#282828;
  	text-align:right;	
}

body.home #contentContainer
{
	width: 497px;
	height: auto;
	margin: 0px;
	padding: 0;
	text-align: left;
	border: 0px;
}


#greenTop {
	width: 760px;
	height:29px;
	margin:0px 0 0 0; 
	padding:0;
	border:0px;
	background:url(/assets/images/GreenShadow.jpg) no-repeat top left;
	
}



/* Who Styles Below */
body.who #contentContainer
{
	margin: 0px;
	padding: 0;
	border: 0px;
}

body.who #contentContainer p
{
	margin: 0px;
	padding:10px 2em 0px 6px;
	border: 0px;
	color: #E9E6D4;
	font-size: 9pt;
	line-height: 151%;
}

#whoBlueTop {
	width: 497px;
	height: 10px;
	margin:0px 0 0 0; 
	padding:0;
	border:0px;
	background:url(/assets/images/BluBackTop.jpg) no-repeat top left;
	
}

#whoTextBack {
	width: 451px;
	margin:0px 0 0 7px; 
	padding: 10px 10px 10px 22px;
	text-align:left;
	border:0px;
	background:url(/assets/images/whoButtons/WhoTextBack.jpg) repeat-y top left;
	
}

#whoTextBack2 {
	width: 451px;
	margin:0px 0 0 21px; 
	padding: 10px 10px 10px 7px;
	text-align:left;
	border:0px;
}



#whoTextBack2 A:link, A:visited, A:active
{
	text-decoration: none;
	text-align: left;
	color: #CC9;
	font-weight:400;
}

#whoTextBack2 A:hover

{ 
	text-decoration: underline;
    text-align: left;
	color:#009;
	font-weight:400;
}






.bioText {
	margin: 0; 
	padding: 10px;
	border:0px;
	background:url(/assets/images/BioBackground.jpg) repeat-y top left;
}

.bioText img {
	padding: 2px;
	border: 1px solid #082848;
	}

#blueBar {
	margin: 0px 0 0 0;
	padding: 0;
	text-align: left;
	border: 0px;
}

/* What Styles Below */
body.what #contentContainer
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body.what #contentContainer p
{
	margin: 0px;
	padding:10px 2em 0px 6px;
	border: 0px;
	color: #E9E6D4;
	font-size: 9pt;
	line-height: 151%;
}

#whatRedTop {
	width: 497px;
	height:20px;
	margin:0px 0 0 0; 
	padding:0;
	border:0px;
	background:url(/assets/images/RedBackTop.jpg) no-repeat top left;
	
}

#whatTextBack {
	width: 451px;
	margin:0px 0 0 7px; 
	padding: 10px 10px 10px 22px;
	text-align:left;
	border:0px;
	background:url(/assets/images/whatButtons/WhatTextBack.jpg) repeat-y top left;
	
}


#whatTextBack A:link {
	font-family: "Arial", Verdana, Helvetica, Sans-Serif; 
	font-weight:400;
	text-decoration:none;
	color:#c60;
	margin:0px 0px 0px 0px;
	line-height:23px;
	font-size:12px;
}

#whatTextBack A:visited {
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-weight:400;
	text-decoration:none;
	color:#CC9;
	margin:0px 0px 0px 0px;
	line-height:23px;
	font-size:12px;
}

#whatTextBack A:hover {
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-weight:400;
	text-decoration:none;
	color:#E9E6D4;	
	margin:0px 0px 0px 0px;
	line-height:23px;
	font-size:12px;
}


#redBar
{
	width: 263px;
	margin: 0;
	padding: 0;
	text-align: left;
	border: 0;
}

#redBarBack
{
	background-image: url(/assets/images/RedBar.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}



#redBarBack A:link {
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-weight:400;
	text-decoration:none;
	color:#E9E6D4;
	margin:0px 0px 0px 40px;
	line-height:23px;
	font-size:12px;
}

#redBarBack A:visited {
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-weight:400;
	text-decoration:none;
	color:#E9E6D4;
	margin:0px 0px 0px 40px;
	line-height:23px;
	font-size:12px;
}

#redBarBack A:hover {
	font-family: "Arial", Verdana, Helvetica, Sans-Serif;
	font-weight:400;
	text-decoration:none;
	color:#CC9;
	margin:0px 0px 0px 40px;
	line-height:23px;
	font-size:12px;
}



/* Why Styles Below */
body.why #contentContainer
{
	margin: 0px;
	padding: 0;
	border: 0px;
}

body.why #contentContainer p
{
	margin: 0px;
	padding:10px 2em 0px 6px;
	border: 0px;
	color: #E9E6D4;
	font-size: 9pt;
	line-height: 151%;
}


#whyOrangeTop {
	width: 497px;
	height: 10px;
	margin:0; 
	padding:0;
	border:0;
	background:url(/assets/images/OrangeBackTop.jpg) no-repeat top left;
	
}

#whyTextBack {
	width: 451px;
	margin: 0px 0px 0px 7px; 
	padding: 10px 10px 10px 22px;
	text-align:left;
	border: 0px;
	background:url(/assets/images/whyButtons/WhyTextBack.jpg) repeat-y top left;
	
}

#orangeBar
{
	width: 263px;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	border: 0;
}

#map {
	width: 423px;
	height: 314px;
	background-image: url(/assets/images/map_background.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	margin: 0px;
}

#footerContainer
{
	text-align: center;
	color: #CFF;
	width: 760px;
	margin: 0;
	padding: 0px 0px 0px 0px;
	background-color: #000;
}
